@page "/"
@*@rendermode @(new InteractiveServerRenderMode(prerender: true))*@
@*@attribute [StreamRendering(true)]*@

<PageTitle>Jacob Lucas</PageTitle>

<ScrollAnimation />

<div class="welcome-section">
    <div class="d-flex justify-content-end">
        <p id="name-tag">Jacob Lucas</p>
    </div>

    <div style="height: 25vh;"></div>

    <div class="d-flex justify-content-around">
        <div id="link-tree" style="width: 80%;">
            <div class="d-flex flex-column align-items-center">
                <p class="link-tree-text flex-shrink-0">
                    Ambitious <span class="emphasize">Electrical Engineer</span> with a solid foundation in <span class="emphasize">Software</span>, <span class="emphasize">Embedded Systems</span>, and <span class="emphasize">RF Theory</span>.<br />Passionate about learning and developing new skills.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="d-flex justify-content-around">
    <div class="sections">
        <h1 class="section-header">Bio</h1>
        <p class="section-text">
            I am set to graduate <b>Michigan State University</b> in the spring of 2025 after earning a B.S. in <b>Electrical Engineering</b>, with concentrations in <b>Biomedical Engineering</b>, <b>Radio Frequency</b>, and <b>Wireless Technologies</b>, alongside minor in <b>Computer Science</b>. As this chapter of my life comes to an end I am thrilled to be able to prove myself in the professional world and face the new chalanges that come with it. Outside of school and work, I enjoy working on my personal projects (see projects page), snowboarding, climbing, and wood working.
        </p>

        <div class="section-spacer"></div>
    </div>
</div>
